.titreorange{
  border: solid 1px red;
  display: flex;
}
 h3{
   background-color: orange;
   border: solid  1px green;
 }
 .temps{
   border: solid 1px blue;
 }

 .groupetemps{
   border:solid 3px cyan;
 }